@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "相册";
}
<div class="album-content w1000" id="layer-photos-demo" class="layer-photos-demo">
    <div class="img-info">
        <img src="../res/img/xc_img1.jpg" alt="">
        <div class="title">
            <p class="data">今日上传<span>2018/10/10</span></p>
            <p class="text">观赏最美的土耳其的日</p>
        </div>
    </div>
    <div class="img-list">
        <div class="layui-fluid" style="padding:0">
            <div class="layui-row layui-col-space30 space">
                <div class="layui-col-xs12 layui-col-sm4 layui-col-md4">
                    <div class="item">
                        <img src="../res/img/xc_img3.jpg">
                        <div class="cont-text">
                            <div class="data">2018/08/08</div>
                            <p class="address"><i class="layui-icon layui-icon-location"></i><span>江西九江</span></p>
                            <p class="briefly">今日天气晴朗,庐山一日游</p>
                        </div>
                    </div>
                </div>
                <div class="layui-col-xs12 layui-col-sm4 layui-col-md4">
                    <div class="item">
                        <img src="../res/img/xc_img4.jpg">
                        <div class="cont-text">
                            <div class="data">2018/08/08</div>
                            <p class="address"><i class="layui-icon layui-icon-location"></i><span>江西九江</span></p>
                            <p class="briefly">今日天气晴朗,庐山一日游</p>
                        </div>
                    </div>
                </div>
                <div class="layui-col-xs12 layui-col-sm4 layui-col-md4">
                    <div class="item">
                        <img src="../res/img/xc_img5.jpg">
                        <div class="cont-text">
                            <div class="data">2018/08/08</div>
                            <p class="address"><i class="layui-icon layui-icon-location"></i><span>江西九江</span></p>
                            <p class="briefly">今日天气晴朗,庐山一日游</p>
                        </div>
                    </div>
                </div>
                <div class="layui-col-xs12 layui-col-sm4 layui-col-md4">
                    <div class="item">
                        <img src="../res/img/xc_img3.jpg">
                        <div class="cont-text">
                            <div class="data">2018/08/08</div>
                            <p class="address"><i class="layui-icon layui-icon-location"></i><span>江西九江</span></p>
                            <p class="briefly">今日天气晴朗,庐山一日游</p>
                        </div>
                    </div>
                </div>
                <div class="layui-col-xs12 layui-col-sm4 layui-col-md4">
                    <div class="item">
                        <img src="../res/img/xc_img4.jpg">
                        <div class="cont-text">
                            <div class="data">2018/08/08</div>
                            <p class="address"><i class="layui-icon layui-icon-location"></i><span>江西九江</span></p>
                            <p class="briefly">今日天气晴朗,庐山一日游</p>
                        </div>
                    </div>
                </div>
                <div class="layui-col-xs12 layui-col-sm4 layui-col-md4">
                    <div class="item">
                        <img src="../res/img/xc_img5.jpg">
                        <div class="cont-text">
                            <div class="data">2018/08/08</div>
                            <p class="address"><i class="layui-icon layui-icon-location"></i><span>江西九江</span></p>
                            <p class="briefly">今日天气晴朗,庐山一日游</p>
                        </div>
                    </div>
                </div>
                <div class="layui-col-xs12 layui-col-sm4 layui-col-md4">
                    <div class="item">
                        <img src="../res/img/xc_img3.jpg">
                        <div class="cont-text">
                            <div class="data">2018/08/08</div>
                            <p class="address"><i class="layui-icon layui-icon-location"></i><span>江西九江</span></p>
                            <p class="briefly">今日天气晴朗,庐山一日游</p>
                        </div>
                    </div>
                </div>
                <div class="layui-col-xs12 layui-col-sm4 layui-col-md4">
                    <div class="item">
                        <img src="../res/img/xc_img4.jpg">
                        <div class="cont-text">
                            <div class="data">2018/08/08</div>
                            <p class="address"><i class="layui-icon layui-icon-location"></i><span>江西九江</span></p>
                            <p class="briefly">今日天气晴朗,庐山一日游</p>
                        </div>
                    </div>
                </div>
                <div class="layui-col-xs12 layui-col-sm4 layui-col-md4">
                    <div class="item">
                        <img src="../res/img/xc_img5.jpg">
                        <div class="cont-text">
                            <div class="data">2018/08/08</div>
                            <p class="address"><i class="layui-icon layui-icon-location"></i><span>江西九江</span></p>
                            <p class="briefly">今日天气晴朗,庐山一日游</p>
                        </div>
                    </div>
                </div>
                <div class="layui-col-xs12 layui-col-sm4 layui-col-md4">
                    <div class="item">
                        <img src="../res/img/xc_img3.jpg">
                        <div class="cont-text">
                            <div class="data">2018/08/08</div>
                            <p class="address"><i class="layui-icon layui-icon-location"></i><span>江西九江</span></p>
                            <p class="briefly">今日天气晴朗,庐山一日游</p>
                        </div>
                    </div>
                </div>
                <div class="layui-col-xs12 layui-col-sm4 layui-col-md4">
                    <div class="item">
                        <img src="../res/img/xc_img4.jpg">
                        <div class="cont-text">
                            <div class="data">2018/08/08</div>
                            <p class="address"><i class="layui-icon layui-icon-location"></i><span>江西九江</span></p>
                            <p class="briefly">今日天气晴朗,庐山一日游</p>
                        </div>
                    </div>
                </div>
                <div class="layui-col-xs12 layui-col-sm4 layui-col-md4">
                    <div class="item">
                        <img src="../res/img/xc_img5.jpg">
                        <div class="cont-text">
                            <div class="data">2018/08/08</div>
                            <p class="address"><i class="layui-icon layui-icon-location"></i><span>江西九江</span></p>
                            <p class="briefly">今日天气晴朗,庐山一日游</p>
                        </div>
                    </div>
                </div>
                <div class="layui-col-xs12 layui-col-sm4 layui-col-md4">
                    <div class="item">
                        <img src="../res/img/xc_img3.jpg">
                        <div class="cont-text">
                            <div class="data">2018/08/08</div>
                            <p class="address"><i class="layui-icon layui-icon-location"></i><span>江西九江</span></p>
                            <p class="briefly">今日天气晴朗,庐山一日游</p>
                        </div>
                    </div>
                </div>
                <div class="layui-col-xs12 layui-col-sm4 layui-col-md4">
                    <div class="item">
                        <img src="../res/img/xc_img4.jpg">
                        <div class="cont-text">
                            <div class="data">2018/08/08</div>
                            <p class="address"><i class="layui-icon layui-icon-location"></i><span>江西九江</span></p>
                            <p class="briefly">今日天气晴朗,庐山一日游</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="demo"></div>
    </div>
</div>